<!-- <br>
<h1 class="has-text-centered title is-3">ADD -Glossary</h1>
<div class="container is-max-desktop">
 <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
<div class="field">
    <label class="label">Title</label>
    <div class="control">
      <input class="input" type="text" id="title" name="title" placeholder="Enter title .." autofocus ngModel>
    </div>
  </div>
  <div class="field">
    <label class="label">Details</label>
    <div class="control">
      <textarea class="textarea" id="details" name="details" placeholder="details here .." ngModel></textarea>
    </div>
  </div>
  <div>
    <div class="field" id="refdiv">
        <label for="ref_name1">Refernces - Name:</label>
        <input  type="text" class="input" id="ref_name1" name="ref_name1" ngModel>

        <label for="ref_link1">Refernces - Link:</label>
        <input type="text" class="input" id="ref_link1" name="ref_link1" ngModel>
    
    </div>
    <div>
        <input type="button" class="button is-link is-light" (click)="addrefrence()" value="Add" />
        <br>
        <br>
    </div>
</div>

<div>
    <div class="field" id="reldiv">
        <label for="rel_name1">Related - Name:</label>
        <input  type="text" class="input" id="rel_name1" name="rel_name1" ngModel>

        <label for="ref_link1">Related - Link:</label>
        <input type="text" class="input" id="rel_link1" name="rel_link1" ngModel>
    
    </div>

    <div>
        <input type="button" class="button is-link is-light" (click)="addreleted()" value="Add" />
        <br>
    </div>
    <br>
</div>

<button type="submit" class="button is-link is-light">save</button>
        
</form>

</div> -->
<div class="container mt-2">
  <div class="columns is-centerd">
    <div class="column has-text-centered">
      <h1 class="box title is-size-1-desktop is-size-4-mobile is-family-monospace">GlossaryForm</h1>
    </div>
  </div>
  <div class="box">
<form [formGroup]="glossaryForm" #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
  
  <div class="box">
    <div class="field box">
      <label class="label">Title</label>
      <div class="control">
        <input class="input is-rounded" placeholder="Enter title .." autofocus formControlName="title" required/>
      </div>
    </div>
    
    <div class="field box">
      <label class="label">Details</label>
      <quill [(value)]="value" (onblur) = "save()">
      </quill>
      
      <div class="control">
        <textarea class="textarea is-rounded is-hidden" formControlName="details" placeholder="details here .."  required [ngModel] ='value'></textarea>
      </div>
    </div>
  </div>
  
  <div class="field box" formArrayName="ref">
    <div class="mb-3 box" *ngFor="let item of ref.controls; let pointIndex=index" [formGroupName]="pointIndex">
      <label class="label">Refernces - Name:</label>
      <input  class="input is-rounded" id="ref" formControlName="name" required/>

      <label class="label">Refernces - Link:</label>
      <input type="text" class="input is-rounded" formControlName="link" required/>
      <button type="button" class="button mt-2" (click)="deleteSellingPoint(pointIndex)">Remove</button>
    </div>
    <button type="button" class="button is-inline-block" (click)="addSellingPoint()">Add Refernces</button>
  </div>

  <div class="field box" formArrayName="rel">
    <div class="mb-3 box" *ngFor="let item of rel.controls; let pointIndex=index" [formGroupName]="pointIndex">
      <label class="label">Related - Name:</label>
      <input  class="input is-rounded" id="ref" formControlName="name" required/>

      <label class="label">Related - Link:</label>
      <input type="text" class="input is-rounded" formControlName="link" required/>
      <button type="button" class="button mt-2" (click)="deleterel(pointIndex)">Remove</button>
    </div>
    <button type="button" class="button" (click)="addrel()">Add Related</button>
  </div>

<button type="submit" [disabled]="!glossaryForm.valid" class="button has-center">Save - Glossary</button>
</form>
  </div>
{{ this.glossaryForm.value | json }}
<br><br>