<!-- 
  <form action="http://localhost:5000/login" method="POST">
    <div class="field">
       <label for="email">Email:</label>
       <input type="email" class="input" id="email" name="email" required />
     </div>
     <div class="field">
       <label for="password">Password:</label>
       <input type="password" class="input" id="password" name="password" required />
     </div>

     <button class="btn btn-primary" (click)="login()" >Login</button>
</form> -->

<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
  <input type = "email" name = "email" placeholder = "Your email" ngModel>
  <br/>

  <input type = "password" name = "password" placeholder = "Your password" ngModel>
  <br/>

  <input type = "submit" value = "login">
</form>