<br />
<nav
  class="navbar is-fixed-top m-2"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand columns is-vcentered">
    <div class="column">
      <a
        class="navbar-item logoname"
        routerLink=""
        class="ml-3 title is-3 tags is-small is-centered mt-3"
      >
        Glossary
      </a>
    </div>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a
            *ngIf="islogin() === 'login'"
            routerLink="/login"
            class="button is-primary"
          >
            Log in
          </a>
          <a click="loginradius()" href="https://dev-bw4tzgej5i5.hub.loginradius.com/auth.aspx?action=register&return_url=https://optimistic-wiles-31048f.netlify.app/login">Loginradius</a>
          <a
            *ngIf="islogin() === 'logout'"
            routerLink="/logout"
            (click)="logout()"
            class="button is-primary"
          >
            Log out
          </a>
          <!-- <div class="field has-addons">href="https://dev-bw4tzgej5i5.hub.loginradius.com/auth.aspx?action=register&return_url=http://localhost:4200/login</div> -->
        </div>
      </div>
    </div>
  </div>
</nav>
<br />
<br />
<br />

<router-outlet></router-outlet>
