<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand columns is-vcentered">
    <div class="column">
    <a class="navbar-item" routerLink="" class="is-family-monospace title is-3 tags is-small is-centered mt-3">
      Glossary
    </a>
    </div>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          
          <a *ngIf="islogin() === 'login'" routerLink="/login" class="button is-primary">
            Log in
          </a>
          <a *ngIf="islogin() === 'logout'" routerLink="/logout" (click)="logout()" class="button is-primary">
            Log out
          </a>
          <div class="field has-addons">
            <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)">
              <div class="field has-addons has-addons-centered">
                <p class="control">
                  <input class="input" type="text" name="title" #name placeholder="search here" aria-label="Search through site content" required ngModel>
                </p>
                <p class="control">
                  <!-- <input type = "submit" class="button is-success" value = "search"> -->
                  <a class="button is-success" routerLink="/search/{{name.value}}">search</a>
                </p>
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
  <br>  
<router-outlet></router-outlet>

