<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="" class="title is-4 is-family-monospace" style="margin-top: 5px;">
      Glossary
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          
          <a *ngIf="islogin() === 'login'" routerLink="/login" class="button is-primary">
            Log in
          </a>
          <a *ngIf="islogin() === 'logout'" routerLink="/logout" (click)="logout()" class="button is-primary">
            Log out
          </a>
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="Find a repository">
            </div>
            <div class="control">
              <a class="button is-info">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<br>

<router-outlet></router-outlet>
<!-- <app-letter></app-letter> -->