<div class="container is-rounded">
  <div class="container">
    <div class="columns is-centerd">
      <div class="column has-text-centered">
        <h1
          class="
            tag
            is-rounded
            title
            is-3 is-family-monospace
            has-text-weight-light
          "
        >
          Admin panel
        </h1>
      </div>
    </div>
    <div>
      <span class="title is-6 has-text-right"
        ><div>
          <a routerLink="/add" class="button is-small is-success is-outlined">
            ADD -Glossary</a
          >
        </div></span
      >
    </div>
    <br /><br />
    <div class="has-text-centered">
      <nav class="mb-3">
        <input
          class="input p-3 has-text-centered"
          type="text"
          name="search"
          [(ngModel)]="filter"
          placeholder="search here"
        />
      </nav>
    </div>
    <table
      class="table is-bordered is-striped is-narrow is-hoverable"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>Title</th>
          <th>Details</th>
          <th>Refrences</th>
          <th>Releated</th>
          <th>Delete/Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let i of alldata
              | filter: filter
              | paginate: { itemsPerPage: 5, currentPage: p }
          "
        >
          <td *ngIf="i.title !== ''">{{ i.title }}</td>
          <td *ngIf="i.title == ''">-</td>
          <td *ngIf="i.details !== ''">{{ i.details }}</td>
          <td *ngIf="i.details == ''">-</td>
          <td *ngIf="i.ref.length !== 0">
            <a
              class="button is-small is-rounded"
              *ngFor="let r of i.ref"
              href="{{ r.link }}"
              >{{ r.name }}</a
            >
          </td>
          <td *ngIf="i.ref.length == 0">-</td>
          <td *ngIf="i.rel.length !== 0">
            <a
              class="button is-small is-rounded"
              *ngFor="let r of i.rel"
              href="{{ r.link }}"
              >{{ r.name }}</a
            >
          </td>
          <td *ngIf="i.rel.length == 0">-</td>
          <td>
            <div class="field is-grouped is-grouped-centered">
              <p class="control">
                <a
                  class="button is-small is-danger is-rounded is-outlined"
                  (click)="deleteItem(i)"
                  routerLink="/reload"
                >
                  Delete
                </a>
              </p>
              <p class="control">
                <a
                  class="button is-small is-warning is-rounded is-outlined"
                  routerLink="/edit/{{ i._id }}"
                >
                  Edit
                </a>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="has-text-centered">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
