<div class="container">
  <div class="columns is-centerd">
    <div class="column has-text-centered">
      <h1
        class="tag is-rounded title is-3 has-text-weight-light"
        *ngIf="id != undefined && id != 'all'"
      >
        Term start's with '{{ id }}'
      </h1>
      <h1
        class="tag is-rounded title is-3 has-text-weight-light"
        *ngIf="id == 'all'"
      >
        All Term's
      </h1>
    </div>
  </div>

  <div class="columns tile is-mobile box is-multiline mb-5">
    <div class="column is-small letter mt-3" *ngFor="let a of alphabet">
      <a
        class="button is-info tag"
        routerLinkActive="is-active"
        routerLink="/{{ a }}"
        >{{ a }}</a
      >
    </div>
  </div>

  <div class="has-text-centered box">
    <nav class="">
      <input
        class="input"
        type="text"
        name="search"
        [(ngModel)]="filter"
        placeholder="Search Glossary"
      />
    </nav>
  </div>

  <div
    *ngIf="letter !== 'undefined'"
    class="columns is-mobile is-multiline is-centered"
  >
    <div
      *ngFor="
        let i of letter
          | filter: filter
          | paginate: { itemsPerPage: 9, currentPage: p }
      "
      class="column card is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd is-vcentered"
    >
      <a routerLink="/{{ i._id }}/{{ i.title }}">
        <header class="card-header">
          <p class="card-header-title is-centerd is-rounded">
            {{ i.title }}
          </p>
        </header>
        <div class="card-content" [innerHTML]="i.details">
          <!-- <div [innerHTML]="i.details.substr(0,100)"></div> -->
        </div>
      </a>
    </div>
  </div>

  <div class="has-text-centered paginate" *ngIf="letter.length != '0'">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  <div *ngIf="letter.length == '0'" class="box title is-1 has-text-centered">
    Data Not avilable
  </div>
</div>
