.letter {
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: inline;
}
.card{
    
    border: 2px solid salmon;
    border-radius: 10px;
    box-shadow: transparent;
    box-sizing: border-box;
}
.box {
    background-color: black;
}
.input {
    text-align: center;
    width: 80%;
    align-content: center;
}
