.letter {
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: inline;
}
.card{
    
    border: 2px solid salmon;
    border-radius: 10px;
    box-shadow: transparent;
    box-sizing: border-box;
}
.box {
    background-color: black;
}

.input {
    text-align: center;
    width: 80%;
    align-content: center;
    border: 3px solid rgb(255, 146, 5) !important;
    font-size:large
}
.card-content{
    color: rgb(0, 0, 0);
    max-height: 10rem;
    overflow:auto;
}
  
.paginate{
    border: 3px solid rgb(67, 214, 87);
    border-radius: 10px;
    padding-top: 15px;
    background-image: url('../../assets/trianglify-lowres.png');
    background-size: cover;
}
.is-active{
    border: 3px solid rgb(0, 247, 255) !important;
}