
  html, body {
    background-image: url(./assets/trianglify-lowres.png);
    background-attachment: fixed;
    background-size: cover;
    letter-spacing: 1.5px;
    word-spacing: 3px;
  }
  

   
   
    
      
    
   