

#commentform{
    margin: auto;
    border-radius: 3%;
    background-image: url(../../assets/trianglify.png);
    background-attachment: fixed;
    background-size: cover;
    border: 3px solid lightcoral;
}